langchain-core
langchain-openai
langgraph
langsmith
langchain-community
python-dotenv
openai
IPython
tavily-python
langchain_experimental
httpx
bs4
duckduckgo_search
langgraph-checkpoint-sqlite
langchain-chroma 
pypdf 
sentence-transformers
